* {
  margin: 0;
  padding: 0;
}

.title {
  color: black;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 20px;
}

div {
  text-align: center;
  margin: 0 auto;
}

input {
  width: 100%;
  margin: 10px;
  padding: 18px 10px;
  border-radius: 4px;
  border: 1px solid #4e5766;
  box-shadow: 1px 0.5px #888888;
  font-size: 76%;  
  font-family: Geneva, Tahoma, sans-serif;
  width: 60%;

}

button {
  padding: 12px 10px;
  margin: 20px;
  width: 30%;
  border-color: #e6e6e6;
  border-radius: 4px;
  background-color: #e6e6e6;
  color: black;
  cursor: pointer;
  font-size: 18px;
}

.search-result-wrapper {
  color: black;
  font-size: 20px;
  font-family: Geneva, Tahoma, sans-serif;
  justify-content: left;
  display: flex;
}

/* p {
  background-color: #c1c1c1;
  color: black;
  font-family: Geneva, Tahoma, sans-serif;
} */